<h1>Details of Aunt</h1>

<p><b>What we know of her</b></p>
<%= params[:get_aunt_name] %>

<p><b>Description</b></p>
<%= params[:description] %><br />

<p><b>This her favorite animal, dirty and naughty...</b></p>
<%= params[:favorite_animals] %><br />

<p><b>These are her favorite food, sweet and tasty...</b></p>
<%= params[:favorite_food_1] %><br />
<%= params[:favorite_food_2] %><br />
<%= params[:favorite_food_3] %>
<br />

<p><b>This is her final deathwish..</b></p>
<%= params[:death_bed] %><br />
