<h1>Details of Aunt</h1>

<p>What we know of her</p>
<%= params[:post_aunt_name] %>

<p>Description</p>
<%= params[:description] %><br />

<p>This her favorite animal, dirty and naughty...</p>
<%= params[:favorite_animals] %><br />

<p>These are her favorite food, sweet and tasty...</p>
<%= params[:favorite_food_1] %><br />
<%= params[:favorite_food_2] %><br />
<%= params[:favorite_food_3] %>
<br />

<p>This is her final deathwish..</p>
<%= params[:death_bed] %><br />
